.hero-section .wrapper .main-slider .slider .slides .slide .slide-text {
	color: var(--color-white);
	display: flex;
	flex-direction: column;
	/* width: 50%; */
	position: relative;
	z-index: 10;
}
.hero-section .wrapper .main-slider .slider .slides .slide .slide-text .slide-text-primary {
	font-size: 4.8rem;
	text-transform: uppercase;
	max-width: 61.5rem;
	max-height: 11.6rem;
	line-height: 5.8rem;
	margin-bottom: 1.5rem;
}
.hero-section .wrapper .main-slider .slider .slides .slide .slide-text .slide-text-secondary {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	line-height: 2.4rem;
	max-width: 56.2rem;
	margin-bottom: 4.8rem;
}
.hero-section .wrapper .main-slider .slider .slides .slide .slide-button {
	padding: 1.7rem 2.7rem 1.69rem 2.8rem;
	max-width: 32.9rem;
	width: 100%;
	font-size: 2.4rem;
	line-height: 2.9rem;
}
.hero-section .hero-section-img {
	position: absolute;
	transform: translate(4%, -14%);
}
.hero-section .wrapper .main-slider .slider .slides .slide .slide-img{
	display: flex;
	position: absolute;
	left: 54.5%;
	top: 7rem;
	flex-direction: column;
	border-radius: 100%;
	box-shadow: -3.4rem 0 5rem 25px rgba(255, 0, 0, 30%), -2.1rem 4.4rem 4.3rem 1.4rem rgba(0, 16, 255, 20%);
}
.hero-section .wrapper .main-slider .slider .slides .slide .slide-img::before, .wrapper .main-slider .slider .slides .slide .slide-img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border: .2rem solid var(--accent-color);
	border-radius: 50%;
	animation: animate 2s linear infinite;
}
.hero-section .wrapper .main-slider .slider .slides .slide .slide-img::after {
	animation-delay: 1s;
}
.hero-section .wrapper .main-slider .slider .slides .slide {
	display: none;
}
.hero-section .wrapper .main-slider .slider .slides .slide.show {
	display: flex;
}
.hero-section .wrapper .main-slider .slider .slides .slide .slide-img img{
	border-radius: 100%;
	max-width: 52.8rem;
	min-height: 52.8rem;
}
.hero-section .wrapper .main-slider .slider .slides .slide.show .slide-text .slide-text-primary {
	animation: focus-in 3s both linear;
}
.hero-section .wrapper .main-slider .slider .slides .slide.show .slide-text .slide-text-secondary {
	animation: focus-in 3s 0.5s both linear;
}

@keyframes focus-in {
	0% {
			opacity: 0;
	}
	50% {
			opacity: .5;
	}

	100% {
			opacity: 1;
	}
}
