/* ---------- FONTS ----------*/
@font-face {
    font-family: 'Raleway';
    src: local('Raleway Medium'), local('Raleway-Medium'),
        url('../fonts/Raleway-Medium/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
		font-display: swap;
}
@font-face {
	font-family: 'RF Dewi';
	src: local('RF Dewi Expanded Bold'), local('RF-Dewi-Expanded-Bold'),
			url('../fonts/RFDewiExpanded-Bold/RFDewiExpanded-Bold.woff2') format('woff2'),
			url('../fonts/RFDewiExpanded-Bold/RFDewiExpanded-Bold.woff') format('woff'),
			url('../fonts/RFDewiExpanded-Bold/RFDewiExpanded-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'RF Dewi';
	src: local('RF Dewi Expanded Regular'), local('RF-Dewi-Expanded-Regular'),
			url('../fonts/RFDewiExpanded-Regular/RFDewiExpanded-Regular.woff2') format('woff2'),
			url('../fonts/RFDewiExpanded-Regular/RFDewiExpanded-Regular.woff') format('woff'),
			url('../fonts/RFDewiExpanded-Regular/RFDewiExpanded-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'RF Dewi';
	src: local('RF Dewi Expanded Semibold'), local('RF-Dewi-Expanded-Semibold'),
			url('../fonts/RFDewiExpanded-Semibold/RFDewiExpanded-Semibold.woff2') format('woff2'),
			url('../fonts/RFDewiExpanded-Semibold/RFDewiExpanded-Semibold.woff') format('woff'),
			url('../fonts/RFDewiExpanded-Semibold/RFDewiExpanded-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
/* ---------- ---------- */

/* ---------- Variables ----------*/
:root {
	--color-white: #fff;
	--footer-color: #111;
	--accent-color: #fa0901;
	--text-color: #000;
	--link-color: #0c5dff;
}
/* ---------- ----------  */

/* ---------- base styles ---------- */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
}
body {
	box-sizing: border-box;
	font-family: 'RF Dewi', sans-serif;
	font-weight: 600;
}
.wrapper {
	max-width: 124.8rem;
	width: 100%;
	margin: 0 auto;
	/* padding: 0 6rem; */
}
.button {
	color: var(--color-white);
	background-color: var(--accent-color);
	border: .1rem solid var(--color-white);
	border-radius: .8rem;
	font-size: 1.8rem;
	font-family: 'RF Dewi', sans-serif;
	font-weight: 600;
	cursor: pointer;
	white-space: nowrap;
}
/* Pulse animation */
@keyframes animate {
	0% {
			transform: scale(1);
			opacity: 1;
	}

	50% {
		transform: scale(1.5);
		opacity: .5;
	}

	100% {
		transform: scale(2);
		opacity: 0;
	}
}
/* ---------- ---------- */

/* ---------- Header section ----------  */
header {
	background-color: #111;
	padding-top: 2.2rem;
}
header .wrapper {
	/* padding: 2rem 4rem 0 6rem; */
	display: flex;
	justify-content: space-between;
}
header .wrapper .logo, footer .wrapper .logo {
	max-width: 20.9rem;
	max-height: 5rem;
	/* margin-right: 11.2rem; */
	text-decoration: none;
}
header .wrapper .logo h1, footer .wrapper .logo h1 {
	color: var(--color-white);

}
header .wrapper .header-content { align-self: center; }
header .wrapper .header-content .header-menu {
	display: flex;
	align-items: center;
}
header .wrapper .header-content .header-menu .nav {
	display: flex;
	width: 35.1rem;
	justify-content: space-between;
}
header .wrapper .header-content .header-menu .nav .nav-items {
	font-family: 'RF Dewi', sans-serif;
	font-weight: 400;
	font-size: 1.8rem;
	color: var(--color-white);
}
header .wrapper .header-content .header-menu .nav .nav-items a {
	color: var(--color-white);
	text-decoration: none;
}
header .wrapper .header-content .header-menu .header-button {
	margin-right: 4.5rem;
	padding: .6rem 2.6rem .8rem;
	margin-left: 4rem;
	max-width: 21.2rem;
}
header .wrapper .header-content .header-menu .header-mobile {
	font-size: 2rem;
	margin-right: .5rem;
}
header .wrapper .header-content .header-menu .header-mobile a {
	color:var(--color-white);
	text-decoration: none;
	white-space: nowrap;
}
header .wrapper .header-content .header-menu .burger {
	display: none;
}
header .wrapper .header-content .header-menu .header-socials {
	margin-left: 2rem;
	display: flex;
	flex-direction: row;
}
header .wrapper .header-content .header-menu .header-socials a:not(:last-child) { margin-right: 1rem; }
header .wrapper .header-content .header-menu .header-socials a img {}






/* ---------- ---------- */

/* ---------- Hero section ----------  */
.hero-section {
	background-color: var(--footer-color);
	padding: 20rem 0 31.3rem;
	position: relative;
	overflow: hidden;
}
.hero-section .wrapper{
	display: flex;
	flex-direction: row;
}

/* ---------- ---------- */

/* ---------- Services section ----------  */
.services {
	padding: 10rem 0 19rem;
	background-color: var(--color-white);
	position: relative;
}
.services .wrapper{
	border: .1rem solid #707070;
	box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, .14);
	border-radius: 4rem;
	padding-top: 7.7rem;
	z-index: 10;
	margin-top: -18rem;
	position: relative;
	background-color: var(--color-white);
	max-width: 128rem;
	padding: 7.7rem 3.1rem 11.3rem;
}
.services .wrapper .services-title{
	font-size: 4.8rem;
	line-height: 5.8rem;
	color: #000;
	text-align: center;
	margin-bottom: 6.4rem;
}
.services .wrapper .card-box{
	display: grid;
	grid-template-columns: repeat(auto-fit, 60rem);
	grid-gap: 1.6rem;
}
.services .wrapper .card-box .card{
	border: .1rem solid #707070;
	border-radius: .8rem;
}
.services .wrapper .card-box .card .card-inner{
	display: flex;
	justify-content: space-between;
	padding: 4.1rem 3.2rem;
}
.services .wrapper .card-box .card .card-inner .card-text{
	font-family: 'RF Dewi', sans-serif;
	font-weight: 400;
	font-size: 2rem;
	line-height: 2.4rem;
	color: #000;
	max-width: 24.3rem;
}
.services .wrapper .card-box .card .card-inner .button-box{
	display: flex;
	flex-direction: column;
}
.services .wrapper .card-box .card .card-inner .button-box .card-button{
	text-transform: uppercase;
	min-width: 21.2rem;
	/* width: 100%; */
	min-height: 100%;
}
.services .wrapper .card-box .card .card-inner .button-box .card-price{
	font-family: 'RF Dewi', sans-serif;
	font-weight: 400;
	font-size: 2rem;
	line-height: 2.4rem;
	align-self: flex-end;

}
.services .wrapper .card-box .card .card-inner .button-box .card-price span{
	font-weight: 700;
}
.services .background-img{
	position: absolute;
	bottom: 2rem;
	left: 20rem;
}
/* ---------- ---------- */

/* ---------- About-us section ----------  */
.about-us{
	background-color: #fff;
	padding: 4rem 0 20rem;
	overflow: hidden;
	position: relative;
	margin-top: 0.5rem;
}
.about-us .wrapper{
	/* border: .1rem solid #707070; */
	border-radius: 4rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, .10);
	/* width: 100vw; */
	max-width: 100%;
	display: flex;
	padding: 5.6rem 0 4.5rem 8.5rem;
}
.about-us .wrapper .about-us-left{
	/* width: 50%; */
	flex-basis: 37%;
	color: #000;
}
.about-us .wrapper .about-us-left .about-us-mobile-pic{
	display: none;
}
.about-us .wrapper .about-us-left .about-us-left-title{
	font-size: 4.8rem;
	line-height: 5.8rem;
	margin-bottom: 2.4rem;
}
.about-us .wrapper .about-us-left .about-us-left-text{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	line-height: 2.4rem;
}
.about-us .wrapper .about-us-left .about-us-left-text p:not(:last-child){
	margin-bottom: 1.6rem;
}
.about-us .wrapper .about-us-right{
	/* margin-left: auto; */
	position: absolute;
	top: 0rem;
	right: -3rem;
}
.about-us .wrapper .about-us-right .about-us-right-img-box img{
	max-width: 54.5rem;
	max-height: 76.2rem;
	height: 100%;
	border-radius: 3.2rem;
	position: relative;
	z-index: 1;
}
.about-us .wrapper .about-us-right .about-us-right-img-box .background-img{
	position: absolute;
	bottom: 2rem;
	left: -7rem;
	z-index: 0;
}
.about-us .wrapper .about-us-right .about-us-right-img-box .background-img img{
	max-width: 14.2rem;
	max-height: 81.6rem;
	height: 100%;
}
/* ---------- ---------- */

/* ---------- Advantages section ----------  */
.advantages{
	padding: 3.5rem 0 24rem;
	position: relative;
}
.advantages .background-image-top{
	position: absolute;
	top: -15rem;
}
.advantages .background-image-bottom{
	position: absolute;
	right: 18rem;
	bottom: -15rem;
}
.advantages .wrapper{
	/* padding: 0 4.5rem; */
	position: relative;
	z-index: 10;
	background-color: var(--color-white);
}
.advantages .wrapper .advantages-title{
	font-size: 4.8rem;
	line-height: 5.8rem;
	text-align: center;
	margin-bottom: 7.2rem;
}
.advantages .wrapper .advantages-grid {
	/* grid-template-columns: 30rem 10rem; */
	/* grid-template-rows: 10rem; */
	display: grid;
	/* grid-template-rows: 10.6rem 10.6rem 10.6rem 10.6rem 49.6rem; */
	/* grid-template-columns: 55.9rem 55.9rem 55.9rem 55.9rem 62rem; */
	grid-column-gap: 2rem;
	grid-row-gap: 2.4rem;
}
.advantages .wrapper .advantages-grid .advantages-grid-container{
	box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .10);
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 1.4rem 0 1.4rem 4rem;
	border-radius: .8rem;
	max-width: 55.9rem;
}
.advantages .wrapper .advantages-grid .advantages-grid-container span:nth-child(1){
	font-family: 'RF Dewi', sans-serif;
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 5.8rem;
	color: var(--color-white);
	background-color: var(--accent-color);
	border-radius: 100%;
	width: 7.8rem;
	height: 7.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 3.2rem;
}
.advantages .wrapper .advantages-grid .advantages-grid-container span:nth-child(2){
	font-size: 2rem;
	line-height: 2.4rem;
	color: #000;
	flex-basis: 70%;
}
.advantages .wrapper .advantages-grid .advantages-grid-container-1{
	grid-column: 1/1;
	grid-row: 1/1;
}
.advantages .wrapper .advantages-grid .advantages-grid-container-2{
	grid-column: 1/1;
	grid-row: 2/2;
}
.advantages .wrapper .advantages-grid .advantages-grid-container-3{
	grid-column: 1/1;
	grid-row: 3/3;
}
.advantages .wrapper .advantages-grid .advantages-grid-container-4{
	grid-column: 1/1;
	grid-row: 4/4;
}
.advantages .wrapper .advantages-grid .advantages-grid-container-big{
	grid-column: 2/2;
	grid-row: 1/5;
	box-shadow: 0 0 2rem rgba(0, 0, 0, .10);
	border-radius: 4rem;
	padding: 6.8rem 0 0 3.2rem;
}
.advantages .wrapper .advantages-grid .advantages-grid-container-big .advantages-grid-container-big-title{
	font-size: 4.8rem;
	color: var(--accent-color);
	line-height: 5.8rem;
	/* margin-bottom: 2.4rem; */
}
.advantages .wrapper .advantages-grid .advantages-grid-container-big ul{
	margin-bottom: 4.8rem;
	margin-top: 2.4rem;
}
.advantages .wrapper .advantages-grid .advantages-grid-container-big ul li{
	list-style-type: none;
	font-family: 'RF Dewi', sans-serif;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 2.9rem;
	margin-bottom: 1.6rem;
}
.advantages .wrapper .advantages-grid .advantages-grid-container-big ul li span{
	font-family: 'RF Dewi', sans-serfif;
	font-weight: 700;
	color: var(--accent-color);
}
.advantages .wrapper .advantages-grid .advantages-grid-container-big ul li::before{
	content: "-";
	margin-right: 1.17rem;
}
.advantages .wrapper .advantages-grid .advantages-grid-container-big .button-advantages{
	max-width: 32.9rem;
	width: 100%;
	padding: 1.8rem 2.8rem;
	font-size: 2.4rem;
	line-height: 2.9rem;
}
/* ---------- ---------- */

/* ---------- Stages section----------  */
.stages{
	background-color: var(--footer-color);
	padding: 5.5rem 0 3.5rem;
	position: relative;
	color: var(--color-white);
	z-index: 10;
}
.stages .wrapper{
	padding: 0 0 0 6rem;
	display: flex;
}
.stages .wrapper .stages-left{
	display: flex;
	flex-direction: column;
	flex-basis: 79%;
}
.stages .wrapper .stages-left .stages-title{
	font-size: 4.8rem;
	line-height: 5.8rem;
	margin-bottom: 3.8rem;
}
.stages .wrapper .stages-left .stages-img-box{
	max-width: 61.7rem;
	min-height: 33.2rem;
	box-shadow: -3.4rem 0 5rem 25px rgba(255, 0, 0, 30%), -2.1rem 4.4rem 4.3rem 1.4rem rgba(0, 16, 255, 20%);
	display: flex;
	background-image: url(../img/stages-img.png);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	margin-bottom: 2.4rem;
}
.stages .wrapper .stages-left .stages-img-box .stages-img{

}

.stages .wrapper .stages-left .stages-text{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.1rem;
}
.stages .wrapper .stages-left .stages-text p:first-child{
	margin-bottom: 1.2rem;
}

.stages .wrapper .stages-right{
	margin-left: 7rem;
	display: flex;
	align-items: center;
}
.stages .wrapper .stages-right .divider{
	width: .2rem;
	height: 62.44rem;
	background-color: #707070;
	margin-right: 6rem;
}
.stages .wrapper .stages-right .stages-right-list-box{

}
.stages .wrapper .stages-right .stages-right-list-box ul{
	margin-left: -2rem;
}
.stages .wrapper .stages-right .stages-right-list-box ul li{
	list-style-type: none;
	position: relative;
}
.stages .wrapper .stages-right .stages-right-list-box ul li::before{
	content: "";
	display: block;
	position: absolute;
	top: 1rem;
	left: -4.7rem;
	width: 1.3rem;
	height: 1.3rem;
	border-radius: 100%;
	border: .2rem solid #707070;
	margin-right: 3.2rem;
	background-color: var(--footer-color);
}
.stages .wrapper .stages-right .stages-right-list-box ul li:not(:last-child){
	margin-bottom: 4.8rem;
}
.stages .wrapper .stages-right .stages-right-list-box ul li .stages-right-list-title{
	font-size: 2.4rem;
	line-height: 2.9rem;
}
.stages .wrapper .stages-right .stages-right-list-box ul li .stages-right-list-text{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	line-height: 2.4rem;
}
/* ---------- ---------- */

/* ---------- Reviews section----------  */
.reviews{
	padding: 18rem 0 30rem;;
	background-color: var(--color-white);
	position: relative;
	overflow: hidden;
}
.reviews .background-image-top{
	position: absolute;
	top: -28rem;
	left: 3rem;
}
.reviews .wrapper{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.reviews .wrapper .reviews-title{
	font-size: 4.8rem;
	line-height: 5.8rem;
	color: #000;
	text-align: center;
	margin-bottom: 12.4rem;
}
.reviews .wrapper .reviews-slider {
	box-shadow: 0 .3rem 2rem rgba(0, 0, 0, .8);
	border-radius: 4rem;
	max-width: 101.5rem;
	max-height: 37.1rem;
	background-color: var(--color-white);
	z-index: 10;
}
.reviews .wrapper .reviews-slider .reviews-slide{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8.4rem 15.5rem 3.4rem;
	position: relative;
}
.reviews .wrapper .reviews-slider .reviews-slide .reviews-slide-img{
	background-image: url(../img/reviews-slider-img.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	border-radius: 100%;
	/* display: flex; */
	max-width: 13.6rem;
	min-height: 13.6rem;
	position: absolute;
	top: -7rem;
}
.reviews .wrapper .reviews-slider .reviews-slide .reviews-slide-title{
	font-size: 2.4rem;
	line-height: 2.9rem;
	margin-bottom: 2.4rem;
}
.reviews .wrapper .reviews-slider .reviews-slide .reviews-slide-text{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	line-height: 2.4rem;
	margin-bottom: 4.9rem;
}
.reviews .wrapper .reviews-slider .reviews-slide .reviews-slide-button{
	max-width: 27.9rem;
	width: 100%;
	background-color: transparent;
	border: .2rem solid var(--accent-color);
	color: var(--accent-color);
	font-size: 2rem;
	line-height: 2.4rem;
	padding: 1.4rem 4rem 1.7rem 3.8rem;
	white-space: nowrap;
}
.reviews .wrapper .reviews-slider .reviews-slide .reviews-slide-arrow-left, .reviews .wrapper .reviews-slider .reviews-slide .reviews-slide-arrow-right {
	display: flex;
	background-color: var(--accent-color);
	width: 5.1rem;
	height: 5.1rem;
	/* align-items: center; */
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	border-radius: 100%;
	position: absolute;
	top: 42%;
	cursor: pointer;
}
.reviews .wrapper .reviews-slider .reviews-slide .reviews-slide-arrow-left {
	left: 4rem;
}
.reviews .wrapper .reviews-slider .reviews-slide .reviews-slide-arrow-right {
	right: 4rem;
	transform: rotate(180deg);
}
.reviews .background-image-bottom-right{
	position: absolute;
	width: 100%;
	max-width: 28.5rem;
	bottom: 8rem;
	right: 32rem;
	transform: rotate(200deg);
}
.reviews .background-image-bottom-right img{
	width: 100%;
}
.reviews .background-image-bottom-left{
	position: absolute;
	left: -32rem;
	bottom: -17rem;
}
/* ---------- ---------- */

/* ---------- Warranty section----------  */
.warranty {
	background-color: #111;
	padding: 6rem 0;
	margin-top: 2.7rem;
	color: var(--color-white);
	position: relative;
}
.warranty .warranty-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	/* padding: 0 9.5rem; */
	padding: 0 0 0 69rem;
}
.warranty .warranty-container .warranty-mobile-pic {
	display: none;
}
.warranty .warranty-container .warranty-left-part{
	position: absolute;
	left: -2%;
}
.warranty .warranty-container .warranty-left-part .warranty-img-box{
	/* box-shadow: -3.4rem 0 5rem 25px rgba(255, 0, 0, 30%); */
	box-shadow: 15px 0px 8px -3px rgba(255, 0, 0, 30%);
	position: relative;
	z-index: 10;

}
.warranty .warranty-container .warranty-left-part .warranty-img-box img{
	border-radius: 3.2rem;
	max-width: 70rem;
	max-height: 49rem;
	height: 100%;
}
.warranty .warranty-container .warranty-right-part{
	margin-left: auto;
}
.warranty .warranty-container .warranty-right-part .warranty-right-part-box{

}
.warranty .warranty-container .warranty-right-part .warranty-right-part-box .warranty-right-part-box-inner{
	display: flex;
	align-items: center;
	width: 67%;
}
.warranty .warranty-container .warranty-right-part .warranty-right-part-box .warranty-right-part-box-inner:first-child{
	margin-bottom: 4.2rem;
}
.warranty .warranty-container .warranty-right-part .warranty-right-part-box .warranty-right-part-box-inner .warranty-right-part-icon{
	background-color: var(--accent-color);
	padding: 1.2rem 1.5rem 1.1rem 1rem;
	border-radius: .8rem;
	margin-right: 3.2rem;
}
.warranty .warranty-container .warranty-right-part .warranty-right-part-box .warranty-right-part-box-inner .warranty-right-part-text-box{
	display: flex;
	flex-direction: column;
	align-self: baseline;
}
.warranty .warranty-container .warranty-right-part .warranty-right-part-box .warranty-right-part-box-inner .warranty-right-part-text-box .warranty-right-part-title{
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 2.9rem;
	margin-bottom: .8rem;
}
.warranty .warranty-container .warranty-right-part .warranty-right-part-box .warranty-right-part-box-inner .warranty-right-part-text-box .warranty-right-part-text{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	line-height: 2.4rem;
}

/* ---------- ---------- */

/* ---------- Form section----------  */
.form-section {
	background-color: var(--color-white);
	padding: 26.5rem 0 12rem;
	position: relative;
	overflow: hidden;
}
.form-section .wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.form-section .wrapper .form-title{
	font-size: 4.8rem;
	line-height: 5.8rem;
	color: var(--text-color);
	margin-bottom: 2.8rem;
	max-width: 75.8rem;
}
.form-section .wrapper .form-text{
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 2.9rem;
	color: var(--text-color);
	margin-bottom: 5.6rem;
}
.form-section .wrapper .form{}
.form-section .wrapper .form .form-group{
	min-width: 67.2rem;
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
	font-weight: 500;
	line-height: 2.4rem;
}
.form-section .wrapper .form .form-group .custom-checkbox{
	position: absolute;
  z-index: -1;
  opacity: 0;
}
.form-section .wrapper .form .form-group .custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.form-section .wrapper .form .form-group .custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #000;
  border-radius: .4rem;
  margin-right: 1.2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.form-section .wrapper .form .form-group .custom-checkbox:checked + label::before {
  border-color: #000;
  background-color: #fff;
  background-image: url(../img/checkmark.svg);
	background-size: 1.2rem;
}
.form-section .wrapper .form .form-group .form-input{
	padding: 2.1rem 0 2.1rem 4rem;
	border-radius: .8rem;
	width: 100%;
	border: .1rem solid #979797;
}
.form-section .wrapper .form .form-group .form-input::placeholder{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.4rem;
}
.form-section .wrapper .form .form-group .form-textarea{
	width: 100%;
	border-radius: .8rem;
	padding: 1.7rem 0 1.7rem 4rem;
	height: 12.7rem;
}
.form-section .wrapper .form .form-group .form-textarea::placeholder{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.4rem;
}
.form-section .wrapper .form .form-group .form-label {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.1rem;
	color: #000;
}
.form-section .wrapper .form .form-group .form-label a{
	color: #0c5dff;
}
.form-section .wrapper .form .form-group .form-button{
	padding: 1.6rem 3.8rem 2rem 3.2rem;
	width: 100%;
	max-width: 41.6rem;
	font-size: 2.4rem;
	line-height: 2.9rem;
}
.form-section .wrapper .form .form-group:nth-child(4) {
	text-align: left;
	margin-bottom: 4rem;
}
.form-section .wrapper .form .form-group:not(:nth-child(4)) {
	margin-bottom: 1.6rem;
}
.form-section .background-image-left, .form-section .background-image-right{
	position: absolute;
	top: 22rem;
}
.form-section .background-image-left{
	left: -7rem;
}
.form-section .background-image-right{
	right: -7rem;
}
/* ---------- ---------- */

/* ---------- Footer section----------  */
footer {
	background-color: #111;
	padding: 4rem 0 8rem;
	color: var(--color-white);
}
footer .wrapper{

}
footer .wrapper .logo {
	margin-right: 5.9rem;
}
footer .wrapper .top{
	display: flex;
	padding-bottom: 49px;
	border-bottom: 2px solid #fff;
}
footer .wrapper .top .items{
	display: flex;
	/* width: 100%; */
	justify-content: space-between;
	margin-left: auto;
}
footer .wrapper .top .items .left{
	display: flex;
	/* width: 200px; */
	align-items: center;
}
footer .wrapper .top .left .footer-button{
	max-width: 21.2rem;
	/* width: 100%; */
	padding: 1rem 2.9rem 1.2rem 2.3rem;
	border: .1rem solid #fff;
}

footer .wrapper .top .items .right{
	display: flex;
	flex-direction: row;
	align-items: center;
}
footer .wrapper .top .items .right .footer-mobile{
	font-size: 2.4rem;
	line-height: 2.9rem;
	color: var(--color-white);
	display: flex;
	flex-direction: column;
	margin-right: 3.3rem;
}
footer .wrapper .top .items .right .footer-mobile a{
	color: var(--color-white);
	text-decoration: none;
	margin-bottom: .8rem;
}
footer .wrapper .top .items .right .footer-mobile p{
	align-self: flex-end;
}
footer .wrapper .top .items .right .footer-socials{}
footer .wrapper .top .items .right .footer-socials a{}
footer .wrapper .top .items .right .footer-socials a:first-child{
	margin-right: 1.7rem;
}
footer .wrapper .top .items .right .footer-socials a img{
	width: 5.6rem;
	height: 5.6rem;
}
footer .wrapper .bottom{
	padding-top: 40px;
	padding-bottom: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.8rem;
	line-height: 2.2rem;
	flex-wrap: wrap;
}
footer .wrapper .bottom a{
	color: var(--color-white);
	text-decoration: none;
}
footer .wrapper .bottom span{}
footer .wrapper .bottom .up{
	display: flex;
	background-color: var(--accent-color);
	width: 4rem;
	height: 4rem;
	/* align-items: center; */
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	border-radius: 100%;
	/* position: absolute; */
	/* top: 42%; */
	cursor: pointer;
	transform: rotate(90deg);
}


/* ---------- ---------- */

/* MEDIA */

@media (min-width: 576px) {

}


@media (min-width: 768px) {

}


@media (min-width: 992px) {

}


@media (max-width: 1280px) {
	.wrapper {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.hero-section {
		background-image: url(../img/hero-slider/slide-1.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.hero-section .hero-section-slider {
		display: none;
	}
	.hero-section .wrapper .hero-section-slider-container .hero-section-slider-1 .hero-section-text {
		width: 100%;
	}
	.hero-section .wrapper .hero-section-slider-container .hero-section-slider-1 .hero-section-text .hero-section-primary {
		max-height: unset;
	}
	.services .wrapper {
		border: none;
		border-radius: unset;
	}

	.services .wrapper .card-box {
		justify-content: center;
		grid-template-columns: repeat(1, 1fr);
	}
	.about-us .wrapper {
    border: none;
    border-radius: unset;
    box-shadow: none;
		padding: 0;
	}
	.about-us .wrapper .about-us-left .about-us-left-title {
		font-size: 2rem;
		line-height: 2.4rem;
		margin-left: .9rem;
	}
	.about-us .wrapper .about-us-left .about-us-mobile-pic{
		display: block;
		width: 100vw;
		height: 17.3rem;
		background-image: url(../img/about-us-img.jpg);
		background-size: cover;
		background-repeat: no-repeat;
    background-position: center 26%;
		border-top-left-radius: 1.6rem;
		border-top-right-radius: 1.6rem;
	}
	.about-us .wrapper .about-us-left .about-us-left-text {
		font-size: 1.2rem;
		line-height: 1.4rem;
		margin-left: .9rem;
		margin-top: 1.6rem;
	}
	.about-us .wrapper .about-us-right {
		display: none;
	}
	.warranty {
		width: 100vw;
		height: 14rem;
		background-image: url(../img/warranty-img.png);
		background-size: cover;
		background-repeat: no-repeat;
    background-position: center center;
		border-top-left-radius: 1.6rem;
		border-top-right-radius: 1.6rem;
		padding-top: 14rem;
	}
	.warranty .warranty-container {
    padding: 2.3rem 0 3.2rem 0;
		justify-content: center;
		background-color: #111;
		border-bottom-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
	}
	.warranty .warranty-container .warranty-left-part {
		display: none;
	}
	.warranty .warranty-container .warranty-right-part {
		margin-left: unset;
	}
	.warranty .warranty-container .warranty-right-part .warranty-right-part-box {
    display: flex;
    align-items: center;
    flex-direction: column;
	}
	.warranty .warranty-container .warranty-right-part .warranty-right-part-box .warranty-right-part-box-inner .warranty-right-part-text-box {
		align-self: center;
	}
	.warranty .warranty-container .warranty-right-part .warranty-right-part-box .warranty-right-part-box-inner .warranty-right-part-text-box .warranty-right-part-title {
		font-size: 1.4rem;
		line-height: 1.7rem;
	}
	.warranty .warranty-container .warranty-right-part .warranty-right-part-box .warranty-right-part-box-inner .warranty-right-part-text-box .warranty-right-part-text {
		font-size: 1.2rem;
		line-height: 1.4rem;
	}

	.form-section {
		position: unset;
	}
	.form-section .background-image-left, .form-section .background-image-right{
		display: none;
	}
}


@media (min-width: 1400px) {

}

@media (min-width: 300px) and (max-width: 1199.98px) {}

/* Apply styles starting from medium devices and up to extra large devices */
@media (max-width: 1199.98px) {
	header .wrapper .logo {
		max-width: 16rem;
	}
	header .wrapper .header-content .header-menu .nav, header .wrapper .header-content .header-menu .header-button, header .wrapper .header-content .header-menu .header-mobile{
		display: none;
	}
	header .wrapper {
		justify-content: space-around;
	}
	/* BURGER MENU */
	header .wrapper .header-content .header-menu .burger {
		position: relative;
		display: inline-block;
	}
	header .wrapper .header-content .header-menu .burger .menu-toggle {
		opacity: 0;
		position: absolute;
		z-index: 1;
	}
	header .wrapper .header-content .header-menu .burger .menu-btn {
		display: flex;
		align-items: center;
		position: relative;
		/* top: .4rem; */
    left: 2rem;
		width: 2rem;
		height: 2rem;
		cursor: pointer;
		z-index: 3;
	}
	header .wrapper .header-content .header-menu .burger .menu-btn>span,
	header .wrapper .header-content .header-menu .burger .menu-btn>span::before,
	header .wrapper .header-content .header-menu .burger .menu-btn>span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: .2rem;
		background-color: var(--color-white);
		z-index: 3;
	}
	header .wrapper .header-content .header-menu .burger .menu-btn>span::before {
		content: '';
		top: -.6rem;
	}
	header .wrapper .header-content .header-menu .burger .menu-btn>span::after {
		content: '';
		top: .6rem;
	}
	header .wrapper .header-content .header-menu .burger .menu-toggle:checked~.menu-btn>span {
		transform: rotate(45deg);
		background-color: var(--accent-color);
	}
	header .wrapper .header-content .header-menu .burger .menu-toggle:checked~.menu-btn>span::before {
		top: 0;
		transform: rotate(0);
		background-color: var(--accent-color);
	}
	header .wrapper .header-content .header-menu .burger .menu-toggle:checked~.menu-btn>span::after {
		top: 0;
		transform: rotate(90deg);
		background-color: var(--accent-color);
	}
	header .wrapper .header-content .header-menu .burger .menu-toggle:checked~.menu-box {
		visibility: visible;
		height: 25.6rem;
		z-index: 2;
		padding-top: 2rem;
		opacity: 1;
		transition-duration: .5s;
	}
	header .wrapper .header-content .header-menu .burger .menu-btn > span,
	header .wrapper .header-content .header-menu .burger .menu-btn > span::before,
	header .wrapper .header-content .header-menu .burger .menu-btn > span::after {
		transition-duration: .25s;
	}
	header .wrapper .header-content .header-menu .burger .menu-box {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		position: fixed;
		visibility: hidden;
    top: 7rem;
		right: 0;
		left: 0;
		height: 0%;
		opacity: 0;
		text-align: center;
		background-color: rgba(255, 255, 255, .5);
		transition-duration: .5s;
	}
	header .wrapper .header-content .header-menu .burger .menu-box .col {
		flex-direction: column;
		display: flex;
		/* margin-right: 15rem; */
	}
	header .wrapper .header-content .header-menu .burger .menu-box .col a {
		color: #000;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 800;
		line-height: 1.8rem;
		letter-spacing: .005rem;
		margin-bottom: 1.8rem;
		font-size: 2rem;
	}
	header .wrapper .header-content .header-menu .burger .menu-box .col a:hover {
		text-decoration: underline;
	}
	header .wrapper .header-content .header-menu .burger .menu-box .col .header-button{
		display: block;
	}
}
@media (max-width: 1000px) {
	.advantages .background-image-top, .advantages .background-image-bottom{
		display: none;
	}
	.advantages .wrapper .advantages-title{
		font-size: 2rem;
		line-height: 2.4rem;
		text-align: left;
	}
	.advantages .wrapper .advantages-grid {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.advantages .wrapper .advantages-grid .advantages-grid-container {
		max-width: unset;
		width: 100%;
		justify-content: center;
	}
	.advantages .wrapper .advantages-grid .advantages-grid-container span:nth-child(1){
		font-size: 2.4rem;
		line-height: 2.9rem;
	}
	.advantages .wrapper .advantages-grid .advantages-grid-container span:nth-child(2){
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
	.advantages .wrapper .advantages-grid .advantages-grid-container-big {
		width: 100%;
		align-items: center;
		flex-direction: column;
		display: flex;
	}
	.advantages .wrapper .advantages-grid .advantages-grid-container-big .advantages-grid-container-big-title{
		font-size: 2rem;
		line-height: 2.4rem;
	}
	.advantages .wrapper .advantages-grid .advantages-grid-container-big ul li{
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
	.advantages .wrapper .advantages-grid .advantages-grid-container-big .button-advantages {
		font-size: 1.2rem;
		line-height: 1.4rem;
		max-width: 18.3rem;
		margin-bottom: 2.8rem;
	}
}

@media (max-width: 950px) {

	footer .wrapper .top {
		flex-wrap: wrap;
	}

	/* footer .wrapper .top .items {
    flex-wrap: wrap;
	} */

@media (max-width: 900px) {
	.reviews .background-image-top, .reviews .background-image-bottom-left, .reviews .background-image-bottom-right {
		display: none;
	}
	.reviews .wrapper .reviews-title{
		font-size: 2rem;
		line-height: 2.4rem;
		align-self: flex-start;
	}
	.reviews .wrapper .reviews-slider .reviews-slide {
		padding: 0 .8rem 3.2rem;
	}
	.reviews .wrapper .reviews-slider .reviews-slide .reviews-slide-title {
		font-size: 1.4rem;
		line-height: 1.7rem;
		margin-top: 4rem;
	}
	.reviews .wrapper .reviews-slider .reviews-slide .reviews-slide-img {
		max-width: 6.8em;
    min-height: 6.8rem;
		top: -4rem;
	}
	.reviews .wrapper .reviews-slider .reviews-slide .reviews-slide-text {
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
	.reviews .wrapper .reviews-slider .reviews-slide .reviews-slide-button {
		font-size: 1.2rem;
		line-height: 1.4rem;
		max-width: 16.7rem;
		justify-content: center;
    display: flex;
	}
	.reviews .wrapper .reviews-slider .reviews-slide .reviews-slide-arrow-left, .reviews .wrapper .reviews-slider .reviews-slide .reviews-slide-arrow-right {
    top: -12%;
	}
}

@media (max-width: 768px) {
	.stages .wrapper {
		flex-direction: column;
	}
	.stages .wrapper .stages-left {
		margin-bottom: 1.5rem;
	}
	.stages .wrapper .stages-left .stages-title{
		font-size: 2rem;
		line-height: 2.4rem;
	}
	.stages .wrapper .stages-left .stages-img-box {
		display: none;
	}
	.stages .wrapper .stages-left .stages-text{
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
	.stages .wrapper .stages-right {
    margin-left: 2.5rem;
	}
	.stages .wrapper .stages-right .divider {
		height: 37.5rem;
	}
	.stages .wrapper .stages-right .stages-right-list-box ul li .stages-right-list-title {
		font-size: 1.6rem;
		line-height: 1.9rem;
	}
	.stages .wrapper .stages-right .stages-right-list-box ul li .stages-right-list-text {
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
}

@media (max-width: 672px) {
	.form-section {
		padding-top: 33rem;
	}
	.form-section .wrapper .form-title {
		font-size: 1.9rem;
		line-height: 2.3rem;
	}
	.form-section .wrapper .form-text {
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
	.form-section .wrapper .form .form-group {
		min-width: unset;
	}
	.form-section .wrapper .form .form-group .form-label {
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
	.form-section .wrapper .form .form-group .form-button {
		font-size: 1.2rem;
		line-height: 1.4rem;
		max-width: 22.4rem;
	}
}

@media (max-width: 576px) {
	.button {
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
	.services {
		overflow: hidden;
	}
	.services .wrapper .services-title {
		text-align: left;
		margin-top: 6.2rem;
	}
	.services .wrapper .card-box .card .card-inner .card-text {
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
	.services .wrapper .card-box .card .card-inner .button-box .card-button {
		min-width: 11.3rem;
	}
	.services .wrapper .card-box .card .card-inner .button-box .card-price {
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
}

@media (max-width: 365px) {
	.form-section .wrapper .form .form-group .form-label a {
		margin-left: 3rem;
	}
	.form-section .wrapper .form .form-group .custom-checkbox + label {
		flex-wrap: wrap;
	}
}
